<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
 
  <context:annotation-config /> 
  <context:component-scan base-package="net.tirasa.test.addressbook.controller" />
  
  <bean id="InternalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
    <property name="prefix" value="/WEB-INF/views/" />
    <property name="suffix" value=".jsp" />
  </bean>
  <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
    <property name="exceptionMappings">
      <props>
        <prop key="java.lang.Exception">error</prop>
      </props>
    </property>
  </bean>
  
  <!-- EntityManager Factory that brings together the datasource, 
  and JPA Vendor and Transaction Manager-->
  
  <tx:annotation-driven transaction-manager="transactionManager" /> 
  
  <bean
    class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
    id="entityManagerFactory">
    <property name="dataSource" ref="dataSource" />
    <property name="packagesToScan" value="net.tirasa.test.addressbook.data" />
    <property name="persistenceUnitName" value="PersistenceUnit" />
    <property name="jpaVendorAdapter">
      <bean class="org.springframework.orm.jpa.vendor.OpenJpaVendorAdapter">
        <property name="showSql" value="true" />
        <property name="generateDdl" value="true" />
        <property name="databasePlatform" value="org.apache.openjpa.jdbc.sql.H2Dictionary" />
      </bean>
    </property>
  </bean>
    
  <bean class="org.springframework.orm.jpa.JpaTransactionManager"
        id="transactionManager">
    <property name="entityManagerFactory" ref="entityManagerFactory" />
  </bean>
	
  <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
    <property name="driverClassName" value="org.h2.Driver"/>
    <property name="url" value="jdbc:h2:mem:test;DB_CLOSE_DELAY=-1"/>
    <property name="username" value="sa"/>
    <property name="password" value=""/>
  </bean>
  
  <bean id="Jpa" class="net.tirasa.test.addressbook.dao.impl.PersonDAOJpaImpl">
  </bean>
  
  <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"/>
</beans>
